.listContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.listWrapper{
    width: 100%;
    max-width: 1300px;
    display: flex;
    gap: 20px;
}

.listSearch{
    flex: 1;

    background-color:yellow;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    margin-top: 30px;
}
.listResult{
    flex: 3;
}

.lsTitle{
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}


.lsItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.lsItem > label{
    font-size: 14px;
}

.lsItem > input{
    width: 90%;
    height: 30px;
    border:none;
    padding: 5px;
}

.lsItem > span{
    width: 90%;
    height: 30px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.listSearch>button{
    padding:10px;
    background-color: #0071c2;
    color: white;
    border:none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;

}