.navbar{
    height:50px;
    background-color: #9DC08B;
    display: flex;
    justify-content: center;
}

.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    padding: 0 20px;
}

.logo{
    font-weight: 500;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}